<if e:expect="todoStore.allTodos.length > 0">
<footer class="footer">
  <span class="todo-count">
    <strong>${ todoStore.remaining }</strong>
    ${ todoStore.remaining === 1 ? ' item' : ' items' }
    left
  </span>
  <ul class="filters">
    <li>
      <ui-sref text="All" to="list" e:params="{status: ''}" active="selected"/>
    </li>
    <li>
      <ui-sref text="Active" to="list" e:params="{status: 'active'}" active="selected"/>
    </li>
    <li>
      <ui-sref text="Completed" to="list" e:params="{status: 'completed'}" active="selected"/>
    </li>
  </ul>
  <if e:expect="todoStore.remaining < todoStore.allTodos.length">
  <button class="clear-completed" on:click="todoStore.removeDone">Clear completed</button>  
  </if>
</footer>
</if>