<!--
  import TodoFooter from './footer';
  import TodoItem from './item';
-->
<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      e:value="newTodo"
      on:input="newTodo = $event.target.value"
      autofocus
      on:keyup="if ($event.keyCode === 13) { todoStore.add(newTodo.trim()); newTodo = '';} "
    />
  </header>
  <if e:expect="todoStore.allTodos.length > 0">
  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      e:checked="todoStore.remaining === 0 && todoStore.allTodos.length > 0"
      on:click="todoStore.toggleAllDone"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list" ref:todo-list>
      <for e:loop="todoStore.todos" vm:each="todo" key="each.id">
      <TodoItem
        e:todo="todo"
        on:removed="todoStore.remove"
        on:title-changed="todoStore.onTitleChanged"
        on:done-changed="todoStore.onDoneChanged"
      />
      </for>
    </ul>
  </section>
  </if>
  <TodoFooter/>
</section>