<table>
  <thead>
    <tr>
      <for e:loop="columns" e:_key="_columnKey" vm:each="col" vm:index="i">
      <_slot slot-use:th vm-pass:columnIndex="i" vm-pass:columnData="col">
      <th>${col.title || col.key}</th>
      </_slot>
      </for>
    </tr>
  </thead>
  <tbody>
    <for e:loop="data" e:_key="_rowKey" vm:each="row" vm:index="ri">
    <tr>
      <for e:loop="columns" vm:each="col" e:_key="_columnKey" vm:index="ci">
      <_slot slot-use:td vm-pass:rowIndex="ri" vm-pass:rowData="row" vm-pass:columnIndex="ci" vm-pass:columnData="col">
      <td>${row[col.dataIndex || col.key]}</td>
      </_slot>
      </for>
    </tr>
    </for>
    <if e:expect="!data || data.length === 0">
      <tr>
        <_slot slot-use:empty-td>
        <td colspan="${columns.length}" style="text-align: center; color: gray;">No Data</td>
        </_slot>
      </tr>
    </if>
  </tbody>
</table>